.footnote-container-legal-container {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-end;
  justify-content: center;
}
.footnote-container-navlink {
  font-size: 14px;
  text-decoration: none;
}
.footnote-container-navlink1 {
  font-size: 14px;
  margin-top: 0px;
  margin-left: var(--dl-space-space-unit);
  margin-right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
}
.footnote-container-navlink2 {
  font-size: 14px;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.footnote-container-link {
  display: none;
  font-size: 14px;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}








.datenschutz-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-scheme-foreground);
  border-width: 1px;
  flex-direction: column;
}
.datenschutz-navbar {
  position: relative;
  background-color: transparent;
}
.datenschutz-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
}
.datenschutz-image {
  width: var(--dl-size-size-small);
  object-fit: cover;
}
.datenschutz-text {
  z-index: 100;
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.2;
  margin-left: var(--dl-space-space-unit);
  letter-spacing: 0.1em;
  text-decoration: none;
}
.datenschutz-links {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.datenschutz-text1 {
  display: none;
  margin-right: var(--dl-space-space-twounits);
}
.datenschutz-link {
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.datenschutz-link1 {
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  margin-right: var(--dl-space-space-unit);
}

.datenschutz-link2 {
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
}

.datenschutz-burger-menu {
  fill: #105749;
  width: 24px;
  height: 24px;
}
.datenschutz-div {
  width: var(--dl-size-size-maxwidth);
}
.datenschutz-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
@media(max-width: 991px) {
  .datenschutz-div {
    width: 100%;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .datenschutz-footer {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .datenschutz-links {
    display: none;
  }
  .datenschutz-icon {
    fill: var(--dl-color-scheme-foreground);
  }
  .datenschutz-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .datenschutz-div {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .datenschutz-footer {
    padding: var(--dl-space-space-unit);
  }
}
