.feature-card2-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.feature-card2-icon {
  fill: #595959;
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.feature-card2-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card2-text {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
























@media(max-width: 767px) {
  .feature-card2-feature-card {
    flex-direction: row;
  }
  .feature-card2-container {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .feature-card2-container {
    flex-direction: column;
  }
}

.enchant-widget-container {
  display: flex;
  position: relative;
}

.footnote-container-legal-container {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-end;
  justify-content: center;
}
.footnote-container-navlink {
  font-size: 14px;
  text-decoration: none;
}
.footnote-container-navlink1 {
  font-size: 14px;
  margin-top: 0px;
  margin-left: var(--dl-space-space-unit);
  margin-right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
}
.footnote-container-navlink2 {
  font-size: 14px;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.footnote-container-link {
  display: none;
  font-size: 14px;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}








.home-d-e-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-d-e-navbar {
  position: relative;
  background-color: transparent;
}
.home-d-e-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
}
.home-d-e-image {
  width: var(--dl-size-size-small);
  object-fit: cover;
}
.home-d-e-text {
  z-index: 100;
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.2;
  margin-left: var(--dl-space-space-unit);
  letter-spacing: 0.15em;
  text-decoration: none;
}
.home-d-e-links {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-d-e-text001 {
  display: none;
  margin-right: var(--dl-space-space-twounits);
}
.home-d-e-link {
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-d-e-link01 {
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-d-e-link02 {
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-d-e-button {
  color: var(--dl-color-scheme-purple700);
  border-color: var(--dl-color-scheme-purple700);
}
.home-d-e-link03 {
  color: var(--dl-color-scheme-purple700);
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}
.home-d-e-link04 {
  border-color: var(--dl-color-scheme-purple700);
  text-decoration: none;
  background-color: var(--dl-color-scheme-purple700);
}
.home-d-e-burger-menu {
  fill: #105749;
  width: 24px;
  height: 24px;
}
.home-d-e-hero {
  background-color: var(--dl-color-scheme-purple500);
}
.home-d-e-max-width1 {
  align-items: center;
}
.home-d-e-content {
  flex: 0 0 auto;
  width: 45%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.home-d-e-title {
  color: var(--dl-color-scheme-white);
  font-size: 48px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-d-e-text003 {
  color: var(--dl-color-scheme-orange100);
}
.home-d-e-description {
  color: var(--dl-color-scheme-white);
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-d-e-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.home-d-e-link05 {
  color: var(--dl-color-scheme-darkgray1);
  border-color: var(--dl-color-scheme-white);
  border-width: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-scheme-white);
}
.home-d-e-link06 {
  border-color: var(--dl-color-scheme-white);
  text-decoration: none;
}
.home-d-e-image1 {
  position: relative;
}
.home-d-e-hero-image {
  flex: 1;
  height: 805px;
  max-width: 550px;
  object-fit: cover;
  border-radius: 48px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.home-d-e-image2 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 450px;
  bottom: 0px;
  height: 680px;
  margin: auto;
  position: absolute;
  object-fit: cover;
}
.home-d-e-features {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: column;
}
.home-d-e-text005 {
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-d-e-container02 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr;
}
.home-d-e-section {
  padding-top: 0px;
}
.home-d-e-max-width2 {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-d-e-banner {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  border-radius: 48px;
  flex-direction: column;
  background-color: var(--dl-color-scheme-billbee);
}
.home-d-e-text008 {
  color: var(--dl-color-scheme-lightgreen);
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-d-e-text009 {
  color: var(--dl-color-scheme-white);
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-d-e-btns {
  flex: 0 0 auto;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: stretch;
  flex-direction: row;
}
.home-d-e-link07 {
  font-size: 16px;
  padding-top: 12px;
  margin-right: var(--dl-space-space-unit);
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
  text-decoration: none;
}
.home-d-e-link08 {
  padding-top: 12px;
  margin-right: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
  text-decoration: none;
}
.home-d-e-pricing {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-scheme-purple100);
}
.home-d-e-text013 {
  font-size: 2.4rem;
  align-self: center;
  padding-bottom: var(--dl-space-space-unit);
}
.home-d-e-text016 {
  font-size: 0.75rem;
  align-self: center;
  text-align: left;
}
.home-d-e-container03 {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  background-size: cover;
  justify-content: center;
}
.home-d-e-pricing-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: column;
  background-color: var(--dl-color-scheme-white);
}
.home-d-e-pricing-card:hover {
  transform: scale(1.02);
}
.home-d-e-text019 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.home-d-e-container04 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
}
.home-d-e-text020 {
  font-size: 4rem;
  font-weight: 700;
}
.home-d-e-text021 {
  font-size: 1.15rem;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}
.home-d-e-text022 {
  font-size: 0.9rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-d-e-container05 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
}
.home-d-e-text023 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-d-e-text024 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-d-e-text025 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-d-e-text026 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-d-e-text027 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-d-e-text028 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-d-e-text029 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-d-e-text030 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-d-e-link09 {
  color: var(--dl-color-scheme-white);
  font-style: normal;
  margin-top: auto;
  font-weight: 600;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-scheme-purple700);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-scheme-purple700);
}
.home-d-e-pricing-card1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: column;
  background-color: var(--dl-color-scheme-white);
}
.home-d-e-pricing-card1:hover {
  transform: scale(1.02);
}
.home-d-e-text031 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.home-d-e-container06 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
}
.home-d-e-text032 {
  font-size: 4rem;
  font-weight: 700;
}
.home-d-e-text033 {
  font-size: 1.15rem;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}
.home-d-e-text034 {
  font-size: 0.9rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-d-e-container07 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
}
.home-d-e-text035 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-d-e-text036 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-d-e-text037 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-d-e-text039 {
  font-style: italic;
}
.home-d-e-text040 {
  font-style: italic;
}
.home-d-e-text041 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-d-e-text043 {
  font-style: italic;
}
.home-d-e-text044 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.home-d-e-text045 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-d-e-text046 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-d-e-text047 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-d-e-text049 {
  font-style: italic;
}
.home-d-e-text050 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-d-e-link10 {
  color: var(--dl-color-scheme-white);
  font-style: normal;
  margin-top: auto;
  font-weight: 600;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-scheme-purple700);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-scheme-purple700);
}
.home-d-e-pricing-card2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: column;
  background-color: var(--dl-color-scheme-white);
}
.home-d-e-pricing-card2:hover {
  transform: scale(1.02);
}
.home-d-e-text054 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.home-d-e-container08 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
}
.home-d-e-text057 {
  font-size: 4rem;
  font-weight: 700;
}
.home-d-e-text058 {
  font-size: 1.15rem;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}
.home-d-e-text059 {
  font-size: 0.9rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-d-e-container09 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
}
.home-d-e-text060 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-d-e-text061 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-d-e-text062 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-d-e-text064 {
  font-style: italic;
}
.home-d-e-text065 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-d-e-text067 {
  font-style: italic;
}
.home-d-e-text068 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.home-d-e-text069 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-d-e-text070 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-d-e-text071 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-d-e-text072 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-d-e-text074 {
  font-style: italic;
}
.home-d-e-text075 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-d-e-link11 {
  color: var(--dl-color-scheme-white);
  font-style: normal;
  margin-top: auto;
  font-weight: 600;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-scheme-purple700);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-scheme-purple700);
}
.home-d-e-max-width3 {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-d-e-text076 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-unit);
}
.home-d-e-text077 {
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-d-e-text079 {
  color: var(--dl-color-scheme-purple700);
}
.home-d-e-f-a-q-content {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-d-e-questions-1 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-d-e-question {
  position: relative;
  margin-right: 0px;
}
.home-d-e-text080 {
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.25;
}
.home-d-e-text081 {
  width: 100%;
  margin-top: var(--dl-space-space-halfunit);
}
.home-d-e-text082 {
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.25;
}
.home-d-e-text083 {
  width: 100%;
  margin-top: var(--dl-space-space-halfunit);
}
.home-d-e-text084 {
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.25;
}
.home-d-e-text085 {
  width: 100%;
  margin-top: var(--dl-space-space-halfunit);
}
.home-d-e-text086 {
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.25;
}
.home-d-e-text087 {
  width: 100%;
  margin-top: var(--dl-space-space-halfunit);
}
.home-d-e-questions-2 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-d-e-question4 {
  position: relative;
}
.home-d-e-text088 {
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.25;
}
.home-d-e-text089 {
  width: 100%;
  margin-top: 8px;
}
.home-d-e-text090 {
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.25;
}
.home-d-e-text091 {
  width: 100%;
  margin-top: 8px;
}
.home-d-e-text092 {
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.25;
}
.home-d-e-text093 {
  width: 100%;
  margin-top: 8px;
}
.home-d-e-text094 {
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.25;
}
.home-d-e-text095 {
  width: 100%;
  margin-top: 8px;
}
.home-d-e-custom-work {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home-d-e-text096 {
  font-size: 2.4rem;
  text-align: center;
}
.home-d-e-text097 {
  max-width: 720px;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-d-e-button1 {
  color: var(--dl-color-scheme-purple700);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-scheme-purple500);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.home-d-e-button1:hover {
  transform: scale(1.02);
}
.home-d-e-text101 {
  font-style: normal;
  font-weight: 700;
}
.home-d-e-text102:hover {
  transform: scale(1.02);
}
.home-d-e-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
@media(max-width: 991px) {
  .home-d-e-content {
    width: 50%;
    margin-right: var(--dl-space-space-unit);
  }
  .home-d-e-image1 {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-d-e-hero-image {
    margin-bottom: 0px;
  }
  .home-d-e-max-width2 {
    flex-direction: column;
  }
  .home-d-e-pricing-card {
    width: 100%;
    max-width: 100%;
    align-items: center;
  }
  .home-d-e-pricing-card1 {
    width: 100%;
    max-width: 100%;
    align-items: center;
  }
  .home-d-e-pricing-card2 {
    width: 100%;
    max-width: 100%;
    align-items: center;
  }
  .home-d-e-max-width3 {
    flex-direction: column;
  }
  .home-d-e-questions-1 {
    width: 60%;
  }
  .home-d-e-questions-2 {
    width: 60%;
  }
  .home-d-e-text097 {
    max-width: 100%;
  }
  .home-d-e-footer {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .home-d-e-links {
    display: none;
  }
  .home-d-e-icon {
    fill: var(--dl-color-scheme-foreground);
  }
  .home-d-e-max-width1 {
    flex-direction: column-reverse;
  }
  .home-d-e-content {
    width: 100%;
    margin-right: 0px;
  }
  .home-d-e-hero-image {
    margin-right: 0px;
  }
  .home-d-e-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-d-e-container02 {
    grid-template-columns: 1fr;
  }
  .home-d-e-banner {
    padding: var(--dl-space-space-twounits);
  }
  .home-d-e-container03 {
    flex-flow: column;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-d-e-pricing-card {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-d-e-pricing-card1 {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-d-e-pricing-card2 {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-d-e-f-a-q-content {
    margin-bottom: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .home-d-e-questions-1 {
    width: 100%;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-d-e-questions-2 {
    width: 100%;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-d-e-custom-work {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-d-e-text097 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-d-e-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .home-d-e-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-d-e-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-d-e-container03 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-d-e-custom-work {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-d-e-footer {
    padding: var(--dl-space-space-unit);
  }
}
