.footnote-container-legal-container {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-end;
  justify-content: center;
}
.footnote-container-navlink {
  font-size: 14px;
  text-decoration: none;
}
.footnote-container-navlink1 {
  font-size: 14px;
  margin-top: 0px;
  margin-left: var(--dl-space-space-unit);
  margin-right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
}
.footnote-container-navlink2 {
  font-size: 14px;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.footnote-container-link {
  display: none;
  font-size: 14px;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}








.impressum-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-scheme-foreground);
  border-width: 1px;
  flex-direction: column;
}
.impressum-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.impressum-navlink {
  display: contents;
}
.impressum-logo {
  height: 1.8rem;
  text-decoration: none;
}
.impressum-desktop-menu {
  display: flex;
}
.impressum-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.impressum-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.impressum-link {
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.impressum-login {
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.impressum-register {
  text-decoration: none;
}
.impressum-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.impressum-icon {
  width: 24px;
  height: 24px;
}
.impressum-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.impressum-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.impressum-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.impressum-image {
  height: 1.6rem;
}
.impressum-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.impressum-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.impressum-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.impressum-link1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.impressum-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.impressum-login1 {
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.impressum-register1 {
  text-decoration: none;
}
.impressum-container3 {
  flex: 0 0 auto;
  width: 720px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
}
.impressum-text {
  color: var(--dl-color-scheme-darkgray1);
}
.impressum-text03 {
  color: var(--dl-color-scheme-darkgray1);
  margin-top: var(--dl-space-space-twounits);
  line-height: 1.5;
}
.impressum-link2 {
  text-decoration: underline;
}
.impressum-link3 {
  text-decoration: underline;
}
.impressum-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
@media(max-width: 991px) {
  .impressum-logo {
    height: 1.6rem;
    margin-right: var(--dl-space-space-unit);
  }
  .impressum-text {
    color: var(--dl-color-scheme-darkgray1);
  }
  .impressum-footer {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .impressum-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .impressum-desktop-menu {
    display: none;
  }
  .impressum-btn-group {
    display: none;
  }
  .impressum-link {
    margin-left: var(--dl-space-space-unit);
  }
  .impressum-burger-menu {
    display: flex;
  }
  .impressum-link1 {
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
  }
  .impressum-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .impressum-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .impressum-mobile-menu {
    padding: 16px;
  }
  .impressum-container3 {
    width: 100%;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .impressum-footer {
    padding: var(--dl-space-space-unit);
  }
}
