.enchant-widget-container {
  display: none;
}





.iubenda-cookie-banner-container {
  display: none;
}





.footnote-container-legal-container {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-end;
  justify-content: center;
}
.footnote-container-navlink {
  font-size: 14px;
  text-decoration: none;
}
.footnote-container-navlink1 {
  font-size: 14px;
  margin-top: 0px;
  margin-left: var(--dl-space-space-unit);
  margin-right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
}
.footnote-container-navlink2 {
  font-size: 14px;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.footnote-container-link {
  display: none;
  font-size: 14px;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}








.page-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-scheme-foreground);
  border-width: 1px;
  flex-direction: column;
}
.page-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.page-navlink {
  display: contents;
}
.page-logo {
  height: 1.6rem;
  text-decoration: none;
}
.page-desktop-menu {
  display: flex;
}
.page-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.page-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.page-link {
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.page-login {
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.page-register {
  text-decoration: none;
}
.page-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.page-icon {
  width: 24px;
  height: 24px;
}
.page-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.page-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.page-image {
  height: 1.6rem;
}
.page-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.page-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page-link1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.page-login1 {
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.page-register1 {
  text-decoration: none;
}
.page-container3 {
  flex: 0 0 auto;
  width: 720px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
}
.page-text {
  color: var(--dl-color-scheme-darkgray1);
}
.page-navlink1 {
  margin-top: var(--dl-space-space-twounits);
  text-decoration: none;
}
.page-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
@media(max-width: 1200px) {
  .page-register {
    text-decoration: none;
  }
  .page-register1 {
    text-decoration: none;
  }
}
@media(max-width: 991px) {
  .page-logo {
    height: 1.4rem;
    margin-right: var(--dl-space-space-unit);
  }
  .page-text {
    color: var(--dl-color-scheme-darkgray1);
  }
  .page-footer {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .page-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .page-desktop-menu {
    display: none;
  }
  .page-btn-group {
    display: none;
  }
  .page-link {
    margin-left: var(--dl-space-space-unit);
  }
  .page-burger-menu {
    display: flex;
  }
  .page-link1 {
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
  }
  .page-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .page-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .page-mobile-menu {
    padding: 16px;
  }
  .page-container3 {
    width: 100%;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .page-footer {
    padding: var(--dl-space-space-unit);
  }
}
