<div>
  <link href="./footnote-container.css" rel="stylesheet" />
  <div class="footnote-container-legal-container">
    <a href="agb.html" class="footnote-container-navlink">
      <span>AGB</span>
      <br />
    </a>
    <a href="datenschutz.html" class="footnote-container-navlink1">
      <span>Datenschutz</span>
      <br />
    </a>
    <a href="impressum.html" class="footnote-container-navlink2">
      <span>Impressum</span>
      <br />
    </a>
    <a
      href="https://hilfe.sellerpartner.de/"
      target="_blank"
      rel="noreferrer noopener"
      class="footnote-container-link"
    >
      <span>Hilfe</span>
      <br />
    </a>
  </div>
</div>
